<div fxLayout fxFlex fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutGap="15px">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title><u>Contact Information</u></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px" style="font-size: 15px">
        <table>
          <tr><td><i><b>Name</b></i></td><td>Nitin Kumar</td></tr>
        <tr><td><i><b>Email</b></i></td><td><a href="mailto:nitinkumaronli9@gmail.com">nitinkumaronli9@gmail.com</a></td></tr>
        <tr><td><i><b>Github</b></i></td><td><a href="/github">Github</a></td></tr>
        <tr><td><i><b>Facebook</b></i></td><td><a href="/fb">FB</a></td></tr>
        <tr><td><i><b>LinkedIn</b></i></td><td><a href="/linkedin">LinkedIn</a></td></tr>
          </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>