.registered-unverified > div{
  margin: 40px auto;
}
@media screen and (max-width: 600px){
  .input-col {
    width: 200px;
  }
}
@media screen and (min-width: 600px){
  .input-col {
    width: 410px;
  }
}