<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="passwordResetForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" required>
          <button mat-icon-button matSuffix tabindex="-1">
            <mat-icon>person</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="secret" required>
          <button mat-icon-button matSuffix tabindex="-1">
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Retype Password</mat-label>
          <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="secretRetype" required (paste)="false">
          <button mat-icon-button matSuffix (click)="hidePass = !hidePass" tabindex="-1"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-raised-button (click)="resetPassword()" [disabled]="!passwordResetForm.valid || passwordResetForm.get('secret').value != passwordResetForm.get('secretRetype').value" color="primary">Reset</button>
    </mat-card-actions>
  </mat-card>
</div>