.values {
  overflow-wrap: break-word;
}

mat-form-field {
  width: 100%;
}

mat-card {
  background: #f3f3f37d;
  max-width: 400px;

  input {
    color: black;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
    mat-card {
      min-width: 400px;
    }
  }