<div class="container" fxLayoutGap="20px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Profile Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="space-evenly center" class="profile-details-container">
        <table>
          <tr>
            <td>Display Name</td>
            <td>{{common.name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{common.email}}</td>
          </tr>
          <tr>
            <td>Verification</td>
            <td>{{common.emailVerified ? 'Verified' : 'Unverified'}}</td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cards<span class="description">- Listing cards which you own or have access ({{rowDataCard.length}})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="btn-container" fxLayoutGap="15px" fxLayout="row wrap">
        <button mat-raised-button color="primary" class="btn-with-extra-margin" [disabled]="isCardSelectedListEmpty()"
                (click)="groupCreateAction()">Create Group
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" [disabled]="isCardSelectedListEmpty()"
                (click)="activateDeactivateCards('activate')">Activate Cards
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" [disabled]="isCardSelectedListEmpty()"
                (click)="activateDeactivateCards('deactivate')">Deactivate Cards
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" [disabled]="isCardSelectedListEmpty()"
                (click)="deleteSelectedCards()">Delete Selected Cards
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" [disabled]="isCardSelectedListEmpty()"
                *ngIf="!cardAdditionToExistingGroupEnabled"
                (click)="addCardToExistingGroup()">Add to existing group
        </button>
      </div>
      <div *ngIf="cardAdditionToExistingGroupEnabled" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selectedGroupToAddCardInto">
              <mat-option *ngFor="let opt of selectGroupOptionList"
                          [value]="opt['group_id']">{{opt['title']}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayoutGap="15px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" class="btn-with-extra-margin"
                  (click)="addCardToExistingGroup('confirm')">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-raised-button color="warn" class="btn-with-extra-margin"
                  (click)="addCardToExistingGroup('cancel')">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-alpine"
          [rowData]="rowDataCard"
          [columnDefs]="columnDefsCard"
          [gridOptions]="gridOptionsCard"
          rowSelection="multiple"
          [suppressRowClickSelection]="true"
          [rowMultiSelectWithClick]="false"
          [frameworkComponents]="frameworkComponents"
          (gridReady)="gridReadyCard()"
          (firstDataRendered)="gridReadyCard()"
        >
        </ag-grid-angular>
      </div>
      <div><span class="red"><sup>**</sup></span><b><i>Note</i></b>&nbsp;: Provide access to username 'public', after clicking 'Open'<i>(for popup window)</i> or 'Edit'<i>(for new window)</i>, if you would like to give access to everyone.</div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Groups<span
          class="description">- Listing groups which you own or have access ({{selectGroupOptionList.length}})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="group-selector">
        <div>
          <img mat-card-avatar *ngIf="selectGroupOptionList.length > 0"
               [src]="selectedGroupDetails.icon_url === null || selectedGroupDetails.icon_url === undefined ? './favicon.ico': selectedGroupDetails.icon_url" alt="">
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selectedGroup" (selectionChange)="selectGroupChange($event)">
              <mat-option *ngFor="let opt of selectGroupOptionList"
                          [value]="opt['group_id']">{{opt['title']}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="selectGroupOptionList.length > 0">Description<span class="description">- {{selectedGroupDetails.description}}</span></div>
        <div *ngIf="returnObjectKeys(allLoadedGroupData).length > 0">
          Status:
          <span [class]="this.selectedGroupDetails.status? 'green': 'red'">
            {{this.selectedGroupDetails.status ? 'Active' : 'Inactive'}}
          </span>
        </div>
      </div>
      <div class="btn-container" fxLayoutGap="15px" fxLayout="row wrap">
        <button mat-raised-button color="primary" class="btn-with-extra-margin" (click)="editGroupAccess()"
                [disabled]="selectedGroupDetails.access_type !== 'RW'">Edit Group
          <mat-icon [inline]="true">edit</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" (click)="deleteGroup()">Delete Group
          <mat-icon [inline]="true">delete_forever</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin"
                (click)="activateDeactivateGroup()">{{selectedGroupDetails.status ? 'Dea' : 'A'}}ctivate Group
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" [disabled]="groupRemoveCardDisabled()"
                (click)="deleteCardFromGroup()">Remove Selected Cards
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin" *ngIf="cardAdditionByGroupEnabled"
                (click)="addCardToGroup()" [disabled]="cardsListNotInGroup.length === 0">Add Card
        </button>
        <button mat-raised-button color="primary" class="btn-with-extra-margin"
                (click)="openWidget()" [disabled]="!selectedGroupDetails.status">Widget
          <mat-icon [inline]="true">open_in_new</mat-icon>
        </button>
      </div>
      <div *ngIf="!cardAdditionByGroupEnabled" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="cardsListNotInGroupValue">
              <mat-option *ngFor="let opt of cardsListNotInGroup"
                          [value]="opt['card_id']">{{opt['title']}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayoutGap="15px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" class="btn-with-extra-margin"
                  (click)="addCardToGroup('confirm')">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-raised-button color="warn" class="btn-with-extra-margin" (click)="addCardToGroup('cancel')">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div>
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-alpine"
          [rowData]="rowDataGroup"
          [columnDefs]="columnDefsGroup"
          [gridOptions]="gridOptionsGroup"
          rowSelection="multiple"
          [rowMultiSelectWithClick]="true"
          (gridReady)="gridReadyGroup()"
          (firstDataRendered)="gridReadyGroup()"
        >
        </ag-grid-angular>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>