<div class="container" fxLayoutGap="20px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cards<span class="description">- Listing cards which you own or have access ({{rowDataCard.length}})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button mat-raised-button color="primary" [disabled]="groupCreateDisabled()" (click)="groupCreateAction()">Create Group</button>
      </div>
      <div>
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-alpine"
          [rowData]="rowDataCard"
          [columnDefs]="columnDefsCard"
          [gridOptions]="gridOptionsCard"
          rowSelection="multiple"
          [rowMultiSelectWithClick]="true"
          [frameworkComponents]="frameworkComponents"
          (gridReady)="gridReadyCard()"
          (firstDataRendered)="gridReadyCard()"
        >
        </ag-grid-angular>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Groups<span class="description">- Listing groups which you own or have access ({{rowDataGroup.length}})</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayoutAlign="center">
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selectedGroupOwned">
            <mat-option *ngFor="let opt of groupOptionListOwner"
                        [value]="opt['group_id']">{{opt['title']}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
        <div class="mat-card-container" fxLayoutAlign="stretch">
          <mat-card>
            <mat-card-content>Hello</mat-card-content>
          </mat-card>
        </div>
        <div class="mat-card-container" fxLayoutAlign="stretch">
          <mat-card>
            <mat-card-content>Hello</mat-card-content>
          </mat-card>
        </div>
        <div class="mat-card-container" fxLayoutAlign="stretch">
          <mat-card>
            <mat-card-content>Hello</mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>