/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card {
  margin: 20px;
}
.green {
  color: green;
}
.red {
  color: red;
}
.d-flex {
  display: flex;
}
.flex-spacer {
  flex-grow: 1;
}
.zero-margin-bottom {
  margin-bottom: 0 !important;
}
.container {
  padding: 20px;
}