img {
  width: 40px;
}
input {
  color: black;
}
mat-card {
  max-width: 400px;
  margin: 10px;
}
td {
  padding: 0 10px;
}
table {
  width: 100%;
}
td:first-child {
  color: #7f7f7f;
  font-size: 16px;
  font-style: italic;
}