<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="btnClickedHandler($event)">Open</button>
  <button mat-raised-button color="primary" (click)="openEdit($event)">edit
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="openWidget($event)">Widget
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </button>
  <button mat-raised-button color="primary" [disabled]="!getRedirectStatus()" (click)="redirectShortUrl($event)">ShortUrl
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </button>
</div>